<h2>google map apiを使った簡易的なアプリ</h2>

<div class="wrapper">
    <div id='map'></div>
    <div>
    <%= form_with model:@map, url: maps_path, local:true do |f| %>
    <%= f.label :地名を検索 %>
    <%= f.text_field :address %>
    <%= f.submit%>
    <% end %>

    <% @maps.each do |map| %>
      <p>住所: <%= map.address %></p>
      <p>緯度: <%= map.latitude %></p>
      <p>経度: <%= map.longitude %></p>
      <%= link_to "詳細へ", map_path(map) %>
      <%= link_to "削除する", map_path(map), method: :delete %>
    <% end %>
  
    </div>
</div>

<style>
#map{
  height: 400px;
  width: 600px;
}
</style>

<script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.6503154, lng: 139.7063833},
  zoom: 15
  });

        <% @maps.each do |map| %>
          (function(){
          var contentString = "住所：<%= map.address %>"; 
          var markerLatLng = new google.maps.LatLng({lat: <%= map.latitude %>, lng: <%= map.longitude %>});

          var marker = new google.maps.Marker({
              position: markerLatLng,
              map: map,
          });
                var infowindow = new google.maps.InfoWindow({
                position: markerLatLng,
                content: contentString
              })

              marker.addListener('click', function() {
                infowindow.open(map, marker);
              });

          })();
      <% end %>

  
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAP_API"] %>&callback=initMap" async defer></script>